{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
        <!-- My CSS -->
        <link rel="stylesheet" href="{% static 'encyclopedia/stylec.css' %}">
    
        <title>{%block title%}{%endblock%}</title>
      </head>

    <body>

        <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <img src="{% static 'encyclopedia/img/internet.png' %}" class="img-fluid">
            </div>
            <div class="list-group list-group-flush">
                <a href="{% url 'encyclopedia:wiki' %}" class="list-group-item list-group-item-action bg-light">Wiki50 Home</a>
                <a href="{% url 'encyclopedia:create_new_page' %}" class="list-group-item list-group-item-action bg-light">Create New Page</a>
                <a href="{% url 'encyclopedia:random_page' %}" class="list-group-item list-group-item-action bg-light">Random Page</a>
            </div>
            </div>
            <!-- /#sidebar-wrapper -->

            <!-- Page Content -->
            <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-dark rounded-0 mr-1" id="menu-toggle">Toggle Menu</button>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    {% if entry_name %}
                    <li class="nav-item mr-1 mb-1 mb-lg-0">
                        <button class="btn btn-info btn-block" id="menu-toggle">Edit Entry</button>
                    </li>
                    {% endif %}
                    <li class="nav-item align-items-center d-flex">
                        <form action="{% url 'encyclopedia:search' %}" class="w-100">
                            {% csrf_token %}
                            <input type="text" name="q" placeholder="Search at Wiki50" class="form-control">
                        </form>
                    </li>
                </ul>
                </div>
            </nav>

            <div class="container-fluid">
                
                {%block content%}
                {%endblock%}

            </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        
        <!-- Menu Toggle Script -->
        <script>
            $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
            });
        </script>

    </body>

</html>